
<p style="float:left;">Hello @ViewBag.dealer_name </p>
<div class="center">
    @if(ViewBag.kpi_p_val < .50) { 
        <h2>You are performing poorly on @ViewBag.kpi_name</h2>
        <br />
        <hr />
        <br />
        <p>Look at the actions below for tips on improving your performance</p>
    }else{ 
        <h2>You are performing well in @ViewBag.kpi_name</h2>
        <br />
        <hr />
        <br />
        <p>Improvements can still be made, look at the actions below for tips on improving your performance </p>
    }
    <br />
    <hr />
    <br />
    <div class="center">
        <div>
            @{ var count = 1; }
            @foreach (var action in ViewBag.action_list)
            {
               
                    <div class="action-card card border-info mb-3">
                        <div class="card-block">
                            <div class="card-header">Action @count</div>
                            <div class="card-body">
                                <p class="card-text">Your @ViewBag.kpi_name has a value of @ViewBag.kpi_value. @action.actionP</p>
                                <a href="@Url.Action("Index", "Home")" class="btn btn-outline btn-info">Search Again</a>
                            </div>
                        </div>
                    </div>

                count = count + 1;
            }
        </div>
     </div>
</div>

    