<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

<script  type="text/javascript">
     
     function ShowSelection() {
         var textComponent = document.getElementById('search');
         var selectedText;

         if (textComponent.selectionStart !== undefined) {// Standards Compliant Version
             var startPos = textComponent.selectionStart;
             var endPos = textComponent.selectionEnd;
             selectedText = textComponent.value.substring(startPos, endPos);
         }
         else if (document.selection !== undefined) {// IE Version
             textComponent.focus();
             var sel = document.selection.createRange();
             selectedText = sel.text;
         }

         console.log("You selected: " + selectedText);
    }

    function addFields() {
        var textComponent = document.getElementById('search');
        console.log(textComponent);
        var selectedText;
        var startPos = 0;
        var endPos = 0;
        if (textComponent.selectionStart !== undefined) {// Standards Compliant Version
            startPos = textComponent.selectionStart;
            endPos = textComponent.selectionEnd;
            selectedText = textComponent.value.substring(startPos, endPos);
        }
        // Container <div> where dynamic content will be placed
        var container = document.getElementById("container");
        // Clear previous contents of the container

        //childElementCount can give number of child elements
        // Create 
        var div = document.createElement("div")
        var entityOptions = ["Filter::Segment", "Filter::Brand", "Filter::Model"] 
        div.appendChild(document.createTextNode("Entity Name"));
        var input = document.createElement("Select");
        input.name = "entityLabels[][entityName]";
        
        for (i in entityOptions) {
            var opt = document.createElement("option");
            opt.value = entityOptions[i];
            //opt.innerHTML = entity; // whatever property it has
            opt.appendChild(document.createTextNode(entityOptions[i]))
            // then append it to the select element
            input.appendChild(opt);

        }
        div.appendChild(input);


        //Location::From

        div.appendChild(document.createTextNode("Start Index"));
        var input = document.createElement("input");
        input.type = "number";
        input.name = "entityLabels[][startCharIndex]";
        input.value = startPos;
        div.appendChild(input);

        div.appendChild(document.createTextNode("End Index"));
        var input = document.createElement("input");
        input.type = "number";
        input.name = "entityLabels[][endCharIndex]";
        input.value = endPos;
        div.appendChild(input);

        var button = document.createElement("button");
        button.innerHTML = "remove";
        button.className = "removeButton";
        button.type = "button";
        button.onclick = function () {
            //$(this).parent().css("background-color", "red");

            $(this).parent().remove(); return false;
        };
        // 2. Append somewhere
        div.appendChild(button);


        //
        // Append a line break 
        container.appendChild(div);

        container.appendChild(document.createElement("br"));
        
    }


     function objectifyForm(formArray) {//serialize data function

         var returnArray = {};
         var entityLabels = [];
         var currentEntity = {};
         for (var i = 0; i < formArray.length; i++) {
             
             //console.log(formArray[i])
             var splitName = formArray[i]["name"].split("[]");
             if (splitName[0] == "entityLabels") {
                 var name = splitName[1].replace("[", "").replace("]", "");
                 currentEntity[name] = formArray[i]['value'];
                 console.log("current entity");
                 console.log(currentEntity);
                 if (Object.keys(currentEntity).length == 3) {
                     entityLabels.push(currentEntity);
                     currentEntity = {};
                 }

             }
             else {

                 returnArray[formArray[i]['name']] = formArray[i]['value'];

             }
             //console.log(formArray[i]["name"].split("[]")[0])

         }
         returnArray["entityLabels"] = entityLabels;
         console.log(returnArray);
         return returnArray;
    }
     function checkAnswer() {
         //console.log("i've submitted something!");
         //console.log($('#form1').serialize());

         var data = JSON.stringify($("#form1").serializeArray());
         console.log("form array");
         console.log($("#form1").serializeArray()[0]);//  <-----------
         var testdata = JSON.stringify(objectifyForm($("#form1").serializeArray()));
         //"{ \"intentName\": \"None\",\"text\": null,\"entityLabels\": null}";
         //console.log(testdata);
         //console.log(data);
         $.ajax({
             //"http://msufall2017virtualdealershipadviserapi.azurewebsites.net/api/UpdateLuis"
             //"http://localhost:65007/api/UpdateLuis"
             url: "http://msufall2017virtualdealershipadviserapi.azurewebsites.net/api/UpdateLuis",
             type: "POST",
             data: testdata,
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             success: function () {
                 var loc = jqxhr.getResponseHeader('Location');
                 var a = $('<a/>', { href: loc, text: loc });
                 $('#message').html(a);
             },
             error: function () {
                 $('#message').html("Error posting the update.");
             }

         });
         //$location.url('/Home/Kpi?search=' + $("#form1").serializeArray()[0]["value"]);
         window.location.href = '/Home/Kpi?search=' + $("#form1").serializeArray()[0]["value"];
         //location = '/Home/Kpi?search=' + $("#form1").serializeArray()[0]["value"];
         return false;

     };
     $(document).ready(function () {
         
         //var checkAnswer = function () {
         //    //console.log("i've submitted something!");
         //    //console.log($('#form1').serialize());
             
         //    var data = JSON.stringify($("#form1").serializeArray()); //  <-----------
         //    var testdata = JSON.stringify(objectifyForm($("#form1").serializeArray()));
         //        //"{ \"intentName\": \"None\",\"text\": null,\"entityLabels\": null}";
         //    //console.log(testdata);
         //    //console.log(data);
         //    $.ajax({
         //        //"http://msufall2017virtualdealershipadviserapi.azurewebsites.net/api/UpdateLuis"
         //        //"http://localhost:65007/api/UpdateLuis"
         //        url: "http://msufall2017virtualdealershipadviserapi.azurewebsites.net/api/UpdateLuis",
         //        type: "POST",
         //        data: testdata,
         //        contentType: "application/json; charset=utf-8",
         //        dataType: "json",
         //        success: function () {
         //            var loc = jqxhr.getResponseHeader('Location');
         //            var a = $('<a/>', { href: loc, text: loc });
         //            $('#message').html(a);
         //        },
         //        error: function () {
         //            $('#message').html("Error posting the update.");
         //        }
                  
         //    });
             
         //};
     });
     //var jqxhr = $.post('http://localhost:65007/api/UpdateLuis', $('#form1').serialize())
     //    .success(function () {
     //        var loc = jqxhr.getResponseHeader('Location');
     //        var a = $('<a/>', { href: loc, text: loc });
     //        $('#message').html(a);
     //    })
     //    .error(function () {
     //        $('#message').html("Error posting the update.");
     //    });
     //return false;
</script>
@*<script type="text/javascript">
     $("#form1").submit(function () {
         var jqxhr = $.post('http://localhost:65007/api/UpdateLuis', $('#form1').serialize())
             .success(function () {
                 var loc = jqxhr.getResponseHeader('Location');
                 var a = $('<a/>', { href: loc, text: loc });
                 $('#message').html(a);
             })
             .error(function () {
                 $('#message').html("Error posting the update.");
             });
         return false;
     });
</script>*@


<h1>@ViewBag.dealer_name, Select a potential area for improvement</h1>
<br />
<hr />
<br />

@if (ViewBag.most_related_kpi != null)
{
    string card_class = "";
    string card_text = "";
    string button_class = "";
    <h2>Here is what we've found for: "@ViewBag.search"</h2>
    <br />
    <hr />
    <br />

    <div class="center" style="text-align:center;">
        @if (@ViewBag.most_related_kpi.p_val < 0.2)
        {
            card_class = "card border-danger mb-3";
            card_text = $"You are performing far below average on this measurement. Click the button below to view actions you can take to improve your {@ViewBag.most_related_kpi.name}";
            button_class = "btn btn-outline btn-danger";
        }
        else if (@ViewBag.most_related_kpi.p_val < 0.5)
        {
            card_class = "card border-warning mb-3";
            card_text = $"You are performing below average on this measurement. Click the button below to view actions you can take to improve your {@ViewBag.most_related_kpi.name}";
            button_class = "btn btn-outline btn-warning";
        }
        else
        {
            card_class = "card border-success mb-3";
            card_text = $"You are performing above average in this measurement. However, you can always find ways to improve. Click the button below to view actions you can take to improve your {@ViewBag.most_related_kpi.name}";
            button_class = "btn btn-outline btn-success";
        }
        
        <div class="@(card_class)" style="max-width: 20rem;margin:auto;">
            <div class="card-header">@ViewBag.most_related_kpi.brand @ViewBag.most_related_kpi.segment @ViewBag.most_related_kpi.name</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.most_related_kpi.value</h4>
                <h6 class="card-subtitle mb-2 text-muted">@string.Format("kpi percentile {0:0.0%}", ViewBag.most_related_kpi.p_val)</h6>
                <p class="card-text">@card_text </p>
                <a href="@Url.Action("ActionResponse", "Home", new { kpi_name = @ViewBag.most_related_kpi.name, kpi_value = @ViewBag.most_related_kpi.value, kpi_p_val = @ViewBag.most_related_kpi.p_val })" class="@(button_class)">View Actions</a>
            </div>
        </div>

    </div>
    //btn-lg btn-block

    <p style="text-align:center;">Look below to see your most needed areas of improvement</p>

}
else
{
    <p style="text-align:center;"> We couldn't find what you were looking for. See below to view your most needed areas of improvement, or try re-phrasing your question</p>

}

<br />
<hr />
<br />
@if (ViewBag.needed_kpi_list != null)
{
    string card_class = "";
    string card_text = "";
    string button_class = "";
            @foreach (var @kpi in ViewBag.needed_kpi_list)
            {
                <div class="col-md-4" style="float:left;text-align:center">

                    @if (@kpi.p_val < 0.2)
                    {
                        card_class = "card border-danger mb-3";
                        card_text = $"You are performing far below average on this measurement. Click the button below to view actions you can take to improve your {@kpi.name}";
                        button_class = "btn btn-outline btn-danger";
                    }
                    else if (@kpi.p_val < 0.5)
                    {
                        card_class = "card border-warning mb-3";
                        card_text = $"You are performing below average on this measurement. Click the button below to view actions you can take to improve your {@kpi.name}";
                        button_class = "btn btn-outline btn-warning";
                    }
                    else
                    {
                        card_class = "card border-success mb-3";
                        card_text = $"You are performing above average in this measurement. However, you can always find ways to improve. Click the button below to view actions you can take to improve your {@kpi.name}";
                        button_class = "btn btn-outline btn-success";
                     }
                    <div class="@(card_class)" style="max-width: 20rem;">
                        <div class="card-header">@kpi.brand @kpi.segment @kpi.name</div>
                        <div class="card-body">
                            <h4 class="card-title">@kpi.value</h4>
                            <h6 class="card-subtitle mb-2 text-muted">@string.Format("kpi percentile {0:0.0%}", kpi.p_val)</h6>
                            <p class="card-text">@card_text</p>
                            <a href="@Url.Action("ActionResponse", "Home", new { kpi_name = @kpi.name, kpi_value = @kpi.value, kpi_p_val = @kpi.p_val })" class="@(button_class)">View Actions</a>
                        </div>
                    </div>
                
                </div>
            }
    <div style="clear:both">

    </div>
    <br />
    <hr />
    <br />
  }
    <center>
        <h3>Not what you were looking for? Select the KPI you were looking for below</h3>
        <p>Highlight text to specify if there is a segment or dealer in your search</p>
        @*<p id="search">@ViewBag.search</p>*@
        @*<a href="@Url.Action("Index", "Home")" class="btn btn-outline btn-info">Try Again</a>*@
    </center>

        @*<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="@Url.Action("Index", "UpdateLuisAndSearch", new { intent = "Dealer Sales" })">Dealer Sales</a>
                <a class="dropdown-item" href="@Url.Action("Index", "UpdateLuisAndSearch", new { intent = "Insell" })">Insell</a>
                <a class="dropdown-item" href="@Url.Action("Index", "UpdateLuisAndSearch", new { intent = "None" })">None</a>
            </div>
        </div>*@
        <br />
        <h1>Update Language Recognition</h1>
        <form id="form1" onSubmit="return checkAnswer();">
            <div>
                <label for="intentName">Intent Name</label>
            </div>
            <div>
                @*<input name="intentName" type="text" />*@
                <select name="intentName">
                    <option value="Dealer Sales">Dealer Sales</option>
                    <option value="Dealer Share">Dealer Share</option>
                    <option value="Dealer Effectiveness">Dealer Effectiveness</option>
                    <option value="Insell">Insell</option>
                    <option value="None">None</option>
                </select>
            </div>
            <div>
                <label for="text">Search</label>
            </div>
            <div>
                <input id="search" name="text" type="text" value="@ViewBag.search"/>
            </div>
            <div>
                <input type="submit" value="Submit" />
            </div>
            <a href="#" id="filldetails" onclick="addFields()">Add Entity</a>
            <div id="container">
            </div>
        </form>
        @*<div class="center" style="margin:auto">


            @model UrbanScienceCapstone.Models.UpdateLuis
            @{

                <form asp-controller="Home" asp-action="UpdateLuis" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="dropdown_class" style="min-width:200px;">
                                <input asp-for="Utterance" style="display:none" value="@ViewBag.search" />
                                <label asp-for="Name" class="control-label"></label>
                                <select asp-for="Name"
                                        class="form-control"
                                        asp-items="@(new SelectList(@ViewBag.ListOfIntents,"Name", "Name"))"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="submitter" style="margin:auto">
                                <input id="Submit1" type="submit" value="submit" />
                            </div>
                        </div>
                    </div>

                </form>
            }
        </div>*@







