


<h1>@ViewBag.dealer_name, Select a potential area for improvement</h1>
<br />
<hr />
<br />

@if (ViewBag.most_related_kpi != null)
{
    string card_class = "";
    string card_text = "";
    string button_class = "";
    <h2>Is this what you were looking for?</h2>
    <br />
    <hr />
    <br />

    <div class="center" style="text-align:center;">
        @if (@ViewBag.most_related_kpi.p_val < 0.2)
        {
            card_class = "card border-danger mb-3";
            card_text = $"You are performing far below average on this measurement. Click the button below to view actions you can take to improve your {@ViewBag.most_related_kpi.name}";
            button_class = "btn btn-outline btn-danger";
        }
        else if (@ViewBag.most_related_kpi.p_val < 0.5)
        {
            card_class = "card border-warning mb-3";
            card_text = $"You are performing below average on this measurement. Click the button below to view actions you can take to improve your {@ViewBag.most_related_kpi.name}";
            button_class = "btn btn-outline btn-warning";
        }
        else
        {
            card_class = "card border-success mb-3";
            card_text = $"You are performing above average in this measurement. However, you can always find ways to improve. Click the button below to view actions you can take to improve your {@ViewBag.most_related_kpi.name}";
            button_class = "btn btn-outline btn-success";
        }
        
        <div class="@(card_class)" style="max-width: 20rem;margin:auto;">
            <div class="card-header">@ViewBag.most_related_kpi.brand @ViewBag.most_related_kpi.segment @ViewBag.most_related_kpi.name</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.most_related_kpi.value</h4>
                <h6 class="card-subtitle mb-2 text-muted">@string.Format("kpi percentile {0:0.0%}", ViewBag.most_related_kpi.p_val)</h6>
                <p class="card-text">@card_text </p>
                <a href="@Url.Action("ActionResponse", "Home", new { kpi_name = @ViewBag.most_related_kpi.name, kpi_value = @ViewBag.most_related_kpi.value, kpi_p_val = @ViewBag.most_related_kpi.p_val })" class="@(button_class)">View Actions</a>
            </div>
        </div>

    </div>
    //btn-lg btn-block

    <p style="text-align:center;">Look below to see your most needed areas of improvement</p>

}
else
{
    <p style="text-align:center;"> We couldn't find what you were looking for. See below to view your most needed areas of improvement, or try re-phrasing your question</p>

}

<br />
<hr />
<br />
@if (ViewBag.needed_kpi_list != null)
{
    string card_class = "";
    string card_text = "";
    string button_class = "";
            @foreach (var @kpi in ViewBag.needed_kpi_list)
            {
                <div class="col-md-4" style="float:left;text-align:center">

                    @if (@kpi.p_val < 0.2)
                    {
                        card_class = "card border-danger mb-3";
                        card_text = $"You are performing far below average on this measurement. Click the button below to view actions you can take to improve your {@kpi.name}";
                        button_class = "btn btn-outline btn-danger";
                    }
                    else if (@kpi.p_val < 0.5)
                    {
                        card_class = "card border-warning mb-3";
                        card_text = $"You are performing below average on this measurement. Click the button below to view actions you can take to improve your {@kpi.name}";
                        button_class = "btn btn-outline btn-warning";
                    }
                    else
                    {
                        card_class = "card border-success mb-3";
                        card_text = $"You are performing above average in this measurement. However, you can always find ways to improve. Click the button below to view actions you can take to improve your {@kpi.name}";
                        button_class = "btn btn-outline btn-success";
                     }
                    <div class="@(card_class)" style="max-width: 20rem;">
                        <div class="card-header">@kpi.brand @kpi.segment @kpi.name</div>
                        <div class="card-body">
                            <h4 class="card-title">@kpi.value</h4>
                            <h6 class="card-subtitle mb-2 text-muted">@string.Format("kpi percentile {0:0.0%}", kpi.p_val)</h6>
                            <p class="card-text">@card_text</p>
                            <a href="@Url.Action("ActionResponse", "Home", new { kpi_name = @kpi.name, kpi_value = @kpi.value, kpi_p_val = @kpi.p_val })" class="@(button_class)">View Actions</a>
                        </div>
                    </div>
                
                </div>
            }
    <div style="clear:both">

    </div>
    <br />
    <hr />
    <br />
  }
    <center>
        <h3>Not what you were looking for? Click Try Again to re-phrase your question</h3>
        <a href="@Url.Action("Index", "Home")" class="btn btn-outline btn-info">Try Again</a>
    </center>







