<script type="text/javascript" src="js/bootstrap/bootstrap-dropdown.js"></script>
<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
</script>


<h1>@ViewBag.dealer_name, Select a potential area for improvement</h1>
<br />
<hr />
<br />

@if (ViewBag.most_related_kpi != null)
{
    string card_class = "";
    string card_text = "";
    string button_class = "";
    <h2>Here is what we've found for: "@ViewBag.search"</h2>
    <br />
    <hr />
    <br />

    <div class="center" style="text-align:center;">
        @if (@ViewBag.most_related_kpi.p_val < 0.2)
        {
            card_class = "card border-danger mb-3";
            card_text = $"You are performing far below average on this measurement. Click the button below to view actions you can take to improve your {@ViewBag.most_related_kpi.name}";
            button_class = "btn btn-outline btn-danger";
        }
        else if (@ViewBag.most_related_kpi.p_val < 0.5)
        {
            card_class = "card border-warning mb-3";
            card_text = $"You are performing below average on this measurement. Click the button below to view actions you can take to improve your {@ViewBag.most_related_kpi.name}";
            button_class = "btn btn-outline btn-warning";
        }
        else
        {
            card_class = "card border-success mb-3";
            card_text = $"You are performing above average in this measurement. However, you can always find ways to improve. Click the button below to view actions you can take to improve your {@ViewBag.most_related_kpi.name}";
            button_class = "btn btn-outline btn-success";
        }
        
        <div class="@(card_class)" style="max-width: 20rem;margin:auto;">
            <div class="card-header">@ViewBag.most_related_kpi.brand @ViewBag.most_related_kpi.segment @ViewBag.most_related_kpi.name</div>
            <div class="card-body">
                <h4 class="card-title">@ViewBag.most_related_kpi.value</h4>
                <h6 class="card-subtitle mb-2 text-muted">@string.Format("kpi percentile {0:0.0%}", ViewBag.most_related_kpi.p_val)</h6>
                <p class="card-text">@card_text </p>
                <a href="@Url.Action("ActionResponse", "Home", new { kpi_name = @ViewBag.most_related_kpi.name, kpi_value = @ViewBag.most_related_kpi.value, kpi_p_val = @ViewBag.most_related_kpi.p_val })" class="@(button_class)">View Actions</a>
            </div>
        </div>

    </div>
    //btn-lg btn-block

    <p style="text-align:center;">Look below to see your most needed areas of improvement</p>

}
else
{
    <p style="text-align:center;"> We couldn't find what you were looking for. See below to view your most needed areas of improvement, or try re-phrasing your question</p>

}

<br />
<hr />
<br />
@if (ViewBag.needed_kpi_list != null)
{
    string card_class = "";
    string card_text = "";
    string button_class = "";
            @foreach (var @kpi in ViewBag.needed_kpi_list)
            {
                <div class="col-md-4" style="float:left;text-align:center">

                    @if (@kpi.p_val < 0.2)
                    {
                        card_class = "card border-danger mb-3";
                        card_text = $"You are performing far below average on this measurement. Click the button below to view actions you can take to improve your {@kpi.name}";
                        button_class = "btn btn-outline btn-danger";
                    }
                    else if (@kpi.p_val < 0.5)
                    {
                        card_class = "card border-warning mb-3";
                        card_text = $"You are performing below average on this measurement. Click the button below to view actions you can take to improve your {@kpi.name}";
                        button_class = "btn btn-outline btn-warning";
                    }
                    else
                    {
                        card_class = "card border-success mb-3";
                        card_text = $"You are performing above average in this measurement. However, you can always find ways to improve. Click the button below to view actions you can take to improve your {@kpi.name}";
                        button_class = "btn btn-outline btn-success";
                     }
                    <div class="@(card_class)" style="max-width: 20rem;">
                        <div class="card-header">@kpi.brand @kpi.segment @kpi.name</div>
                        <div class="card-body">
                            <h4 class="card-title">@kpi.value</h4>
                            <h6 class="card-subtitle mb-2 text-muted">@string.Format("kpi percentile {0:0.0%}", kpi.p_val)</h6>
                            <p class="card-text">@card_text</p>
                            <a href="@Url.Action("ActionResponse", "Home", new { kpi_name = @kpi.name, kpi_value = @kpi.value, kpi_p_val = @kpi.p_val })" class="@(button_class)">View Actions</a>
                        </div>
                    </div>
                
                </div>
            }
    <div style="clear:both">

    </div>
    <br />
    <hr />
    <br />
  }
    <center>
        <h3>Not what you were looking for? Select the KPI you were looking for below</h3>
        @*<a href="@Url.Action("Index", "Home")" class="btn btn-outline btn-info">Try Again</a>*@
    </center>

        @*<div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="@Url.Action("Index", "UpdateLuisAndSearch", new { intent = "Dealer Sales" })">Dealer Sales</a>
                <a class="dropdown-item" href="@Url.Action("Index", "UpdateLuisAndSearch", new { intent = "Insell" })">Insell</a>
                <a class="dropdown-item" href="@Url.Action("Index", "UpdateLuisAndSearch", new { intent = "None" })">None</a>
            </div>
        </div>*@
        <br />
        <div class="center" style="margin:auto">


            @model UrbanScienceCapstone.Models.Intent
            @{

                <form asp-controller="Home" asp-action="UpdateLuis" method="post" class="form-horizontal" role="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="dropdown_class" style="min-width:200px;">
                                <input asp-for="Utterance" style="display:none" value="@ViewBag.search" />
                                <label asp-for="Name" class="control-label"></label>
                                <select asp-for="Name"
                                        class="form-control"
                                        asp-items="@(new SelectList(@ViewBag.ListOfIntents,"Name", "Name"))"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="submitter" style="margin:auto">
                                <input id="Submit1" type="submit" value="submit" />
                            </div>
                        </div>
                    </div>

                </form>
            }
        </div>







